$url-areamap-glass = '../assets/areamap/glass.png'
$url-areamap-nameFade = '../assets/areamap/nameFade.png'
$url-areamap-thumb = '../assets/areamap/thumb.png'
$url-areamap-track = '../assets/areamap/track.png'
$url-areamap-zoomIn = '../assets/areamap/zoomIn.png'
$url-areamap-zoomOut = '../assets/areamap/zoomOut.png'
$url-areamap-world = '../assets/areamap/world.png'
$url-areamap-checkbox = '../assets/areamap/checkbox.png'

html.eorzea-map-standalone
  color white
  padding 0
  margin 0
  width 100%
  height 100%
  body
    padding 0
    margin 0
  body, main, section.map
    width 100%
    height 100%
    background black
    overflow hidden
.leaflet-container
  background transparent
  border-radius 5px
  border-right 2px solid transparent
  .leaflet-control
    background none
    border none
    color #fff
    text-shadow 1px 1px #000, 0 0 5px rgba(0, 0, 0, 0.6), 0 0 8px rgba(0, 0, 0, 0.3)
    margin 0
    .leaflet-control-layers-selector
      margin-top 0
      top 0
      position static
    label
      cursor pointer
      span
        display inline-block
        padding-right 2px
        vertical-align middle
        user-select none
  label
    input[type="checkbox"]
      vertical-align middle
      display none
      cursor pointer
      position relative
      & ~ .input-after, & ~ .input-after::after
        content ' '
        display inline-block
        vertical-align middle
        width 16px
        height 16px
        background-image url($url-areamap-checkbox)
        background-repeat no-repeat
      & ~ .input-after::after
        position absolute
        display none
      &:checked ~ .input-after::after
        background-position-x -16px
        display inline-block
      &:hover ~ .input-after
        filter contrast(1.5)
      &:hover ~ .input-after::after
        filter contrast(0.9)
.leaflet-tooltip-pane
  opacity 0.9
.eorzea-map-glass
  width 100%
  height 100%
  overflow hidden
  position absolute
  top 0
  left 0
  z-index 989
  pointer-events none
  background transparent
  box-sizing border-box
  border-style solid
  border-width 24px 11px 12px 12px
  -moz-border-image url($url-areamap-glass) 24 11 12 12 stretch
  -webkit-border-image url($url-areamap-glass) 24 11 12 12 stretch
  -o-border-image url($url-areamap-glass) 24 11 12 12 stretch
  border-image url($url-areamap-glass) 24 11 12 12 fill stretch
.eorzea-map-nav.leaflet-control
  font-size 0
  *
    font-size 12px
  margin-top 2px
  margin-left 1px
  width 200px
  &.eorzea-map-nav-upper
    background none
    width 20px
  .eorzea-map-bg
    width 203px
    height 108px
    pointer-events none
    background url($url-areamap-nameFade) no-repeat transparent
    background-position 3px 18px
    background-size 200px 90px
    position absolute
    top 0
    left 0
  .eorzea-map-nav-aside
    position absolute
    top 22px
    left 4px
    margin-left 28px
  .eorzea-map-place-select-container
    position absolute
    top 0
    opacity 0
    cursor pointer
  .eorzea-map-range-container
    position relative
    margin -2px 0
    .eorzea-map-range-slider
      height 85px
      width 21px
      margin-left 3px
      background url($url-areamap-track) no-repeat center
    input[type=range]
      outline none
      -webkit-appearance none
      background transparent
      height 21px
      width 91px
      transform rotate3d(0, 0, 1, 270deg)
      position absolute
      top 32px
      left -33px
      margin 2px
      sliderThumb()
        -webkit-appearance none
        background url($url-areamap-thumb) no-repeat
        transform rotate3d(0, 0, 1, -270deg)
        opacity 0.9
        height 21px
        width 21px
        &:active
          transform rotate3d(0, 0, 1, -270deg) translate3d(1px, 1px, 0)
          opacity 1
      &::-webkit-slider-thumb
        sliderThumb()
      &::-moz-range-thumb
        sliderThumb()
      &::-ms-thumb
        sliderThumb()
      &::-ms-track
        width 100%
        background transparent
        border-color transparent
        color transparent
  .eorza-map-nav-button
    width 20px
    height 20px
    margin-left 4px
    border none
    outline none
    background no-repeat transparent
    display block
    &:active
      transform translate3d(1px, 1px, 0)
    &.eorza-map-zoom-in
      background-image url($url-areamap-zoomIn)
    &.eorza-map-zoom-out
      background-image url($url-areamap-zoomOut)
    &.eorza-map-world
      background-image url($url-areamap-world)
.eorzea-map-text
  color #fff
.eorzea-map-copyright
  position absolute
  top 0
  left 32px
  width 100%
  z-index 1100
  line-height 25px
  color #aaa
  text-shadow 1px 1px 0 #333
  font-size 12px
  a
    color #ccc
    &:hover
      color #fff
    text-decoration none
@media(max-width 767px)
  .eorzea-map-copyright
    word-break break-all
    word-wrap break-word
    box-sizing border-box
    top unset
    left 0
    bottom 0
    margin 4px
    color #ddd
    text-align left
    line-height 16px
.eorzea-map-pos.leaflet-control
  background none
  margin-top 0
  margin-right 10px
  color #ddd
  font-family sans-serif
  line-height 25px
  height 25px
  font-size 13px
  transform skew(-20deg)
  .eorzea-map-demical
    font-size 12px
.eorzea-map-label
  .eorzea-map-zoom-s &
    display none
  background none
  border none
  text-align center
  color #fff
  text-shadow 1px 1px #000, 0 0 5px rgba(0, 0, 0, 0.6), 0 0 8px rgba(0, 0, 0, 0.3)
  box-shadow none
  font-family "微软雅黑", "Microsoft YaHei", sans-serif
  cursor pointer
  &::before
    content unset
  &.eorzea-map-label-area
    font-size 20px
    opacity 0.9
    font-style italic
    font-family cursive
    text-shadow 1px 1px #000, -1px -1px #000, 0 0 5px rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.5)
  &.eorzea-map-label-no-icon
    margin 0
  &.eorzea-map-label-normal
    .eorzea-map-zoom-m &
      display none
  &.eorzea-map-label-aetheryte
    .eorzea-map-zoom-m &
      display block
    .eorzea-map-zoom-s &
      display block
  &.eorzea-map-label.eorzea-map-label-tooltip
    margin 18px
    &::after
      content ' '
      display block
      position absolute
      top 50%
      left 5%
      width 90%
      height 0
      border none
      margin 0
      box-shadow 0 0 8px 9px rgba(0, 0, 0, 0.6)
      z-index -1
  &.eorzea-map-label-travel
    color #94d3d6
    &:hover
      color #a8f0f2
      text-shadow 1px 1px #000, 0 0 5px #c4bcff
